name: PR Conventional Commit Validation

on:
  pull_request_target:
      types:
      - opened
      - reopened
      - edited

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: PR Conventional Commit Validation
        uses: amannn/action-semantic-pull-request@v6
        with:
          types: |
            feat
            fix
            docs
            test
            ci
            refactor
            perf
            chore
            revert
          requireScope: false
          add_label: 'false'
          ignoreLabels: |
            bot
            ignore-semantic-pull-request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
